%h1 Listing authorizations

%table
  %tr
    %th
    %th
    %th

  - @authorizations.each do |authorization|
    %tr
      %td= link_to 'Show', authorization
      %td= link_to 'Edit', edit_authorization_path(authorization)
      %td= link_to 'Destroy', authorization, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Authorization', new_authorization_path
